@inherits LayoutComponentBase
@layout MainLayout

<div class="w-100 p-0 m-0">
    <div class="container-fluid row p-0 m-0">
        
        <div class="col-3 p-0">
            <AdminSidebar />
        </div>
        
        <div class="col-9 p-0">
            @Body
        </div>

    </div>
</div>