<div class="container p-0">
    <nav class="pt-3 nav navbar-dark flex-column vh-100">
        <div class="container py-0">
        <NavLink class="navbar-brand ps-3" href="/admin">
            <span class="oi oi-wrench" aria-hidden="true"></span> Admin Tools
        </NavLink>
            <hr style="color: aliceblue" />
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-2">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/event">
                    <span aria-hidden="true"></span> Event
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/product">
                    <span aria-hidden="true"></span> Produkt
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/order">
                    <span aria-hidden="true"></span> Order
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/user">
                    <span aria-hidden="true"></span> Användare
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/cart">
                    <span aria-hidden="true"></span> Kundkorgar
                </NavLink>
            </li>
        </ul>
    </nav>
</div>