@inherits LayoutComponentBase

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">


<footer class="bindfooter pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row pb-2">
                    <div class="col-3" />
                    <div class="col-6">
                        <hr style="color: white; height: 1px;" />
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 text-center py-2">
                <h6 class="p-2" style="color: white; font-family: 'Poppins', sans-serif; font-weight: bold; letter-spacing: 5px;">INFORMATION</h6>
                <div style="letter-spacing: 2px;">
                    <a class="text-decoration-none" style="color: white; font-family: 'Poppins', sans-serif;" href="terms">VILLKOR</a><br />
                    <a class="text-decoration-none" style="color: white; font-family: 'Poppins', sans-serif;" href="policy">POLICY</a><br />
                    <a class="text-decoration-none" style="color: white; font-family: 'Poppins', sans-serif;" href="user">ANVÄNDAR VILLKOR</a><br />
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 text-center py-2">
                <h6 class="p-2" style="color: white; font-family: 'Poppins', sans-serif; font-weight: bold; letter-spacing: 5px;">KUNDTJÄNST</h6>
                <div style="letter-spacing: 2px;">
                    <a class="text-decoration-none" style="color: white; font-family: 'Poppins', sans-serif;" href="refund">RETURNERA</a><br />
                    <a class="text-decoration-none" style="color: white; font-family: 'Poppins', sans-serif;" href="shipping">FRAKT POLICY</a><br />
                    <a class="text-decoration-none" style="color: white; font-family: 'Poppins', sans-serif;" href="userpolicy">PERSONUPPGIFTER</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 text-center py-2">
                <h6 class ="p-2" style="color: white; font-family: 'Poppins', sans-serif; font-weight: bold; letter-spacing: 5px;">BUTIKEN</h6>
                <div style="letter-spacing: 2px;">
                    <a class="text-decoration-none" style="color: white; font-family: 'Poppins', sans-serif;" href="event">EVENTS</a><br />
                    <a class="text-decoration-none" style="color: white; font-family: 'Poppins', sans-serif;" href="#">PC-SPEL</a><br />
                    <a class="text-decoration-none" style="color: white; font-family: 'Poppins', sans-serif;" href="#">KRINGUTRUSTNING</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 text-center py-2">
                <h6 class="p-2" style="color: white; font-family: 'Poppins', sans-serif; font-weight: bold; letter-spacing: 5px;">GAME STORE</h6>
                <div style="letter-spacing: 2px;">
                    <a class="text-decoration-none" style="color: white; font-family: 'Poppins', sans-serif; " href="#">OM OSS</a><br />
                    <a class="text-decoration-none" style="color: white; font-family: 'Poppins', sans-serif; " href="#">MITT KONTO</a>
                </div>
            </div>
        </div>
    </div>
</footer>


@code {
}

