@page "/policy"

<div class="lineargradient">


<h1>Integritetspolicy</h1>



<h6>På GameStore AB tar vi din integritet på allvar. Denna integritetspolicy beskriver hur vi samlar in, använder och skyddar din personliga information i enlighet med svenska regler. Genom att använda vår webbplats eller lämna ut din personliga information till oss, samtycker du till villkoren i denna integritetspolicy.</h6>



<h4>Insamling av personlig information</h4>

<h5>1.1</h5> <p>Vi kan samla in personlig information från dig när du gör ett köp, registrerar dig för ett konto, prenumererar på vårt nyhetsbrev eller deltar i någon av våra kampanjer eller undersökningar. Denna personliga information kan omfatta ditt namn, adress, e-postadress, telefonnummer, betalningsinformation och annan information som är relevant för din beställning eller ditt konto.</p>

<h5>1.2</h5> <p>Vi kan även samla in icke-personlig information, såsom din surfhistorik på vår webbplats, genom användning av kakor och andra spårningstekniker. Denna information används för att förbättra din upplevelse på vår webbplats och för att anpassa dina interaktioner med GameStore AB.</p>



<h4>Användning av personlig information</h4>

<h5>2.1</h5> <p>Vi använder din personliga information för att uppfylla dina beställningar, kommunicera med dig om dina beställningar och ditt konto, och ge dig marknadsföringsinformation om GameStore AB:s produkter och tjänster.</p>

<h5>2.2</h5> <p>Vi kan också använda din personliga information för att förbättra vår webbplats, förhindra bedrägeri och andra olagliga aktiviteter, och uppfylla lagliga åtaganden.</p>



<h4>Delning av personlig information</h4>

<h5>3.1</h5> <p>Vi kan dela din personliga information med tredjepartsleverantörer som hjälper oss att uppfylla dina beställningar, behandla betalningar, leverera paket och analysera webbplatsdata.</p>

<h5>3.2</h5> <p>Vi kan också dela din personliga information med våra samarbetspartners för marknadsföringsändamål, men endast med ditt samtycke.</p>



<h4>Skydd av personlig information</h4>

<h5>4.1</h5> <p>Vi vidtar rimliga åtgärder för att skydda din personliga information från obehörig åtkomst, användning eller avslöjande. Men vi kan inte garantera säkerheten för din personliga information som överförs genom vår webbplats eller över internet.</p>

<h5>4.2</h5> <p>Vi behåller din personliga information endast så länge som det är nödvändigt för att uppfylla de ändamål för vilka den samlades in eller enligt lagkrav.</p>



<h4>Dina rättigheter</h4>

<h5>5.1</h5> Du har rätt att få tillgång till och uppdatera din personliga information när som helst genom att logga in på ditt konto eller kontakta oss.

<h5>5.2</h5> <p>Du har rätt att invända mot behandlingen av din personliga information för marknadsföringsändamål och begära att din personliga information raderas, med vissa lagliga undantag.</p>



<h4>Ändringar av integritetspolicy</h4>

<h5>6.1</h5> <p>Vi förbehåller oss rätten att uppdatera denna integritetspolicy när som helst utan föregående meddelande. Vi kommer att publicera den uppdaterade integritetspolicy på vår webbplats och meddela dig om eventuella väsentliga ändringar.</p>

<h5>6.2</h5> <p>
    Du bör granska denna integritetspolicy regelbundet för att säkerställa att du är medveten om eventuella ändringar.
</p>


<p style="margin-bottom: 0;">Om du har några frågor om denna integritetspolicy, kontakta oss på almedaldigi@gmail.com</p>

</div>
@code {

}
