@page "/refund"

<div class="lineargradient">


<h1>Återbetalningspolicy</h1>



<p>På GameStore AB vill vi att du ska vara nöjd med ditt köp. Om du av någon anledning inte är nöjd, erbjuder vi en flexibel returpolicy i enlighet med svenska föreskrifter. Läs denna returpolicy noggrant innan du gör ett köp.</p>

<h4>Eligibilitet för returer</h4>

<h5>1.1</h5> <p>Du kan returnera alla fysiska produkter som köpts från GameStore AB inom 14 dagar efter att du har mottagit produkten.</p>

<h5>1.2</h5> <p>För att vara berättigad till en retur måste produkten vara i sitt ursprungliga skick och förpackning och får inte ha använts eller skadats.</p>

<h4>Process för returer</h4>

<h5>2.1</h5> <p>För att initiera en retur, kontakta vår kundtjänst på kontakt@gamestore.se.</p>

<h5>2.2</h5> <p>Du ansvarar för kostnaden för returfrakt, om inte produkten är defekt eller om vi gjorde ett fel i din beställning.</p>

<h5>2.3</h5> <p>När vi har mottagit din returnerade produkt och bekräftar dess berättigande till retur, kommer vi att behandla din återbetalning inom 14 dagar.</p>

<h5>2.4</h5> <p>Vi förbehåller oss rätten att neka returer som inte uppfyller våra berättigande krav.</p>

<h4>Undantag</h4>

<h5>3.1</h5> <p>Digitala produkter, inklusive spelkoder och programvara, kan inte returneras och återbetalas inte.</p>

<h5>3.2</h5> <p>Spelutrustning, såsom tangentbord och möss, kan vara berättigade till retur om de är defekta eller skadade vid ankomsten, men annars kan de inte returneras.</p>

<h5>3.3</h5> <p>Om en produkt är defekt eller skadad vid ankomsten, kontakta oss inom 14 dagar efter att du har mottagit produkten för att ordna en ersättning eller återbetalning.</p>

<h4>Återbetalningar</h4>

<h5>4.1</h5> <p>Återbetalningar kommer att utfärdas till det ursprungliga betalningssättet som användes för köpet.</p> 
<h5>4.2</h5> <p>Om du har betalat med kredit- eller betalkort, vänligen tillåt 5-7 arbetsdagar för återbetalningen att visas på ditt uttalande.</p>
<h5>4.3</h5> <p>Om du har betalat med andra metoder, såsom PayPal eller banköverföring, vänligen tillåt upp till 14 dagar för återbetalningen att bearbetas.</p>
 
<h4>Garanti</h4>
<h5>5.1</h5> <p>Alla produkter som säljs av GameStore AB levereras med 2 års garanti enligt svenska bestämmelser.</p>
<h5>5.2</h5> <p>Om en produkt är defekt eller slutar fungera under garantiperioden, kontakta oss för att ordna en reparation eller ersättning.</p>
 
<h4>Ändringar av returpolicy</h4>

<h5>6.1</h5> <p>Vi förbehåller oss rätten att uppdatera denna returpolicy när som helst utan föregående meddelande. Vi kommer att publicera den uppdaterade returpolicyn på vår webbplats och meddela dig om några väsentliga ändringar.</p>

<h5>6.2</h5> <p>Du bör granska denna returpolicy regelbundet för att säkerställa att du är medveten om eventuella ändringar.</p>



<p style="margin-bottom: 0;">Om du har några frågor om denna returpolicy, kontakta oss på almedaldigi@gmail.com</p>

</div>
@code {

}
