.lineargradient {
    background-image: linear-gradient(180deg, #10162d 0%, #1a4257 88.54%);
}


p {
    color: white;
}

h1 {
    color: white
}

h2 {
    color: white
}

h3 {
    color: White
}

h3 {
    color: white
}

h4 {
    color: white
}

h5 {
    color: white
}

h6 {
    color: white
}