@page "/terms"

<div class="lineargradient">


<h3>1. Generell information </h3>

<h4>Gamestoreab.azurewebsites.net Organisationsnummer: 556611-3212 <br>
Registreringsår: 2023 <br>
Email:  almedaldigi@gmail.com </h4>

 

<h6>Villkoren uppdaterades 24 April 2023 

Gamestoreab.azurewebsites.net är en web-butik där kunder kan köpa produkter och LAN-biljetter som säljs direkt av Gamestoreab.azurewebsites.net 

Följande villkor gäller när ett avtal om köp ingås mellan Gamestoreab.azurewebsites.net och kunden. 
För alla tredjeparter som berörs av avtalet, gäller även alla konsumentskyddslagar och specifika termer för aktuella tredjeparter. </h6>

<h2>1.2 Force Majeure </h2>

<p>Gamestoreab.azurewebsites.net är inte ansvarig för någon skada som orsakas av oundvikliga hinder, oförutsägbara händelser eller ändrade förhållanden som inte kan påverkas av Gamestoreab.azurewebsites.net och som inte Gamestoreab.azurewebsites.net kan förhindra. Detta är till exempel, men inte uteslutande, strejk, krig, bränder, väderfenomen, terrorattacker, ändringar i lagar, tekniska problem, kommunikationsproblem, leverantörssvårigheter eller något som orsakats av tidigare nämnda saker. Dessa oundvikliga händelser innebär att Gamestoreab.azurewebsites.net är befriad från sin skyldighet att täcka skador eller erbjuda kompensation. Gamestoreab.azurewebsites.net skall informera kunderna så snart som möjligt om dessa oundvikliga hinder påverkar köpet.</p>

<h2>1.3 Ändringar i dessa villkor </h2>

<p>Gamestoreab.azurewebsites.net förbehåller sig rätten att ändra dessa villkor utan att meddela kunden i förväg. Alla beställningar följer de villkor som var aktuella vid köptillfället och synbara på Spelbutikens hemsida. Alla ändringar gäller omedelbart om inget annat har avtalats. De senaste villkoren kan alltid hittas på hemsidan. Kunder kommer inte alltid att informeras om eventuella ändringar. Kunden behöver alltid läsa och acceptera villkoren innan ett köp genomförs.</p>

<h2>2. Kundens rätt och ansvar</h2>

<p>
    Gamestoreab.azurewebsites.net säljer produkter till privatpersoner som är myndiga (benämns senare som kund eller köpare).

    Gamestoreab.azurewebsites.net kan även sälja till organisationer eller andra företag som har ett kontrakt som görs från fall till fall direkt med en säljare.

    Genom att beställa från Gamestoreab.azurewebsites.net lämnar köparen kunddata till vår databas. Kunden är ansvarig för att ge säljaren aktuell information, såväl som ansvarig för misstag i denna information. Hur informationen behandlas och skyddas av Gamestoreab.azurewebsites.net står mer utförligt i Gamestoreab.azurewebsites.net Integritets Policy, som även det är en del av dessa villkor.

    Kunden kan komma åt sitt konto när som helst för att se aktuell orderstatus och se köpta produkter.

    Kunden är ansvarig för att hålla sin login-information hemligt och inte ge ut denna information till någon annan. All information om login-information måste skyddas av kunden, och alla dokument som rör denna information måste förvaras så utomstående parter inte har tillgång till dem. Oförmåga att göra detta kommer att leda till ansvar att betala för eventuella köp gjorda av andra personer med kontohavarens information.

    Kunden kan få möjlighet att recensera produkter och andra frågeformulär skickade till sig. Kunden behöver inte svara på dessa undersökningar.

    Eventuella skador på produkter som upptäcks vid leverans måste meddelas säljaren, Gamestoreab.azurewebsites.net, så snart som möjligt. Skadar som meddelas efter 14 dagar från att produkten levereras kommer inte att anses som att ha uppkommit på grund av misskötsel av säljaren eller under leveransen. Undantag från detta avgörs från fall till mellan kundtjänsten och köparen.

    Kunder som bryter mot dessa villkor kan stängas av utan att kunden förvarnas.
</p>

<h2>2.1 Integritetspolicy </h2>

<p>Integritetspolicy som är del av dessa villkor kan ses här: Gamestoreab.azurewebsites.net/policy</p>

<h2>2.2 Begäran om radering av information</h2>

<p>Begäran att radera kundinformation hanteras i enligt med dessa villkor och begäran kommer behandlas i enlighet med svensk lag och EU reglerar angående privat information och så snart som möjligt.</p>
 

<h2>3. Produkter och priser</h2>

<p>
    Alla priser på hemsidan inkluderar skatt och moms. För köp läggs en fraktavgift på 39kr till på ordern. Alla produktbeskrivningar är så korrekta som möjligt, med information som vi får direkt från distributören eller tillverkaren. Om priset inte är korrekt, så kommer produkten inte att säljas om kunden borde insett att det är ett uppenbarligen felaktigt pris.

    Produktbilder är endast för illustrativa syften. Bilderna kanske inte helt representerar status och ursprung för produkten. Gamestoreab.azurewebsites.net är inte ansvarig för information från tredje part.

    Produkter säljs för det priset som gällde när beställningen bekräftades. Prisreduceringar på produkter informeras inte till kunden, men kunden kan informera säljaren om prisreduceringen och priset på beställningen kan komma att förhandlas om att ändras för att spegla prisreduceringen.

    Även om majoriteten av de spel som säljs på Gamestoreab.azurewebsites.net är ämnade för den svenska marknaden, kan det finnas tillfällen när vissa produkter, på grund av vår strävan efter att ha de lägsta möjliga priserna, kan komma från andra länder. Men spelet fungerar utmärkt att spela i din maskin.

    Vi förstår att detta kan vara förvånande för vissa, men vi kan försäkra dig att det inte är några problem med spelet. Det är fortfarande en giltig produkt. Vårt huvudlager ligger i Danmark och därifrån skickas det varor till och från hela Europa och därför kan det spelet komma från övriga Europa och inte alltid den svenska distributören.

    Gamestoreab.azurewebsites.net är inte ansvarig för att beställa en produkt från en tillverkare för att kunna skicka en beställd produkt, även om produkten redan har bekräftats. Beställningar med varor som har utgått ur sortimentet kommer återbetalas till kunden.
</p>
 
<h2>4. Betalning </h2>

<p>
    Betalning kan ske med kortbetalning via Stripe VISA eller Mastercard. All betalning sker i svensk valuta.

    Vår samarbetspartner för kontokort är Stripe som uppfyller kraven för PCI DSS.

    Aktuell information om det finner du här: https://stripe.com/se/guides/pci-compliance

    Har du frågor om din betalning från gamestoreab.azurewebsites.net, kontakta gärna vår kundtjänst.

    Du kommer få ett meddelande via email när vi har skickat en produkt till dig. Betalningar med kontokort är alltid skyddade mot missbruk. Om det osannolika skulle hända om ditt kort används utan din tillåtelse i en webbutik som använder SSL (Secure Socket Layer) i sitt betalningsalternativ är du helt skyddad och kan bli ersatt av banker eller betalningsinlösare för eventuella missbruk. På detta sätt är du bättre skyddad än i den fysiska världen.

    Alla data som skickas in i samband med köp med kontokort krypteras (SSL). Varken gamestoreab.azurewebsites.net eller andra kan se vad du anger för information.

    Maestro kort
    När du använder VISA, MasterCard eller VISA Electron, debiteras kortet först när produkterna är i lager och kan skickas till dig. På grund av hur Solo och Maestro-kort behandlas av bankerna, behöver vi debitera dem direkt, oavsett om produkten är i lager eller inte.

    För alla korttyper och betalningar kan vi bara debitera dig för det beloppet du beställt och kan aldrig debitera dig för ett högre belopp än det du har godkänt.
</p>
 
<h2>5. Leverans och transport</h2>

<p>
    gamestoreab.azurewebsites.net skickar endast inom Sverige. Förväntad leveranstid kan variera från produkt till produkt, men går alltid att se på respektive produkts sida.

    Våra leveranser sker normalt vardagar men ibland, speciellt vid releaser av större spel, skickar vi även andra dagar. Vid vissa perioder där det är stora ordervolymer kan medföra att beställningarna kan försenas lite men de skickas i så fall så snart som möjligt. Vi kan inte erbjuda kompensation för sena leveranser.

    Alla leveranstider är baserade på den information vi får från de olika företag som levererar våra produkter och den information som vi får från tillverkarna av produkter.

    FRAKT
    Leveranstider kan variera beroende på om produkten är i lager eller inte. Normal leveranstid är 2-4 vardagar från att produkten skickas men kan ta längre tid vid omständigheter utanför vår kontroll stör posttjänsterna. För försvunna eller försenade produkter behöver vi vänta 15 dagar innan vi kan spåra, ersätta eller återbetala för försvunna produkter.

    Om produkten inte finns i lager beror leveranstiden på den tid det tar för oss att få produkten från vår leverantör. Du kan alltid se statusen på din leverans hos vår partner Postnord via tracking-numret som kunden får med orderbekräftelsen.

    Efter en produkt har gått i väg från oss blir du meddelad av postnord. När du har fått detta meddelande innebär det att vi har dragit pengar från ditt kort (vid kortbetalning), packat och skickat till den adress som specificerades på beställning. Om du inte fått något efter fyra arbetsdagar från att du fått detta mail, var vänligt kontakta får kundtjänst för att starta en eftersökning. Om ingen kontaktar har gjorts betraktar vi leveransen som lyckad efter fem vardagar.

    Om en leverans försvinner eller försenas på grund av att felaktiga uppgifter har angetts på en beställning, är inte gamestoreab.azurewebsites.net under några omständigheter ersättningsskyldiga för detta.

    Beställningar som innehåller produkter med olika lagerstatus kommer det som finns i lager skickas direkt och resterande produkter skickas allt eftersom de kommer in i lager. Vi kommer debitera kontokortet tills dess att hela beställningen är skickad.

    Om en produkt ligger på restorder får du automatiskt uppdateringar om leveranstider när vi får ny information från leverantören.

    Om en produkt skickas till ett uthämtningsställe är kunden ansvarig för att hämta ut produkten inom liggtiden. Paket behöver hämtas upp personligen av mottagaren och kräver normalt någon form av legitimation.
</p>
 
<h2>6. Avbeställningrätt</h2>
 
<p>
    Kunden kan avbryta en beställning där gamestoreab.azurewebsites.net inte redan har börjat hantera beställningen på sitt konto. Notera att systemet kan ta upp till femton minuter för att registrera beställningen och inom denna period kan avbeställningar inte göras. Efter en beställning har makulerats kommer detta att bekräftas inom 15 minuter. Beställningar som har avbrutits kommer återbetalas till kunden.

    Avbeställningar kan även göras genom att kontakta gamestoreab.azurewebsites.net kundtjänst och ge skriftligt besked, antingen via email eller via kundtjänstens telefon. Om en avbeställningsbegäran skickas via mail kan det ta upp till 48 timmar för en beställning att avbrytas, inom vilken tid beställningen redan kan ha skickats vilket gör avbeställningen omöjlig.

    Beställningar som kunde ha avbrutits i god tid av kunden genom sitt gamestoreab.azurewebsites.net men som redan är skickad anses inte vara avbeställda.
</p>
 
<h2>7. Ångerrätt</h2>

<p>
    När du köper en vara eller en tjänst över internet har du rätt att ångra köpet, om du gör det inom 14 dagar från att du får hem varan.

    För dataspel måste förpackningen fortfarande vara förseglad, detta gäller även parfymer och liknande varor. Övriga produkter kan du öppna för att kontrollera hur den fungerar, men du måste lämna tillbaka den i oförändrat skick.

    Om produkten är mer använd än vad som krävs för att kontrollera den kommer en värdeminskning att ske från det belopp som återbetalas. Om du ångrar köpet, får du själv betala returportot.

    Skicka tillbaka produkten till följande adress.

    Spelbutiken Sweden AB
    Box 1063 
    432 14 Varberg

    Tyvärr går det enbart att skicka med Postnord till denna adress, inte med Schenker, DHL eller dylikt.

    OBS! Skicka med en referens till din beställning, så som ett Ordernummer eller Följesedel/Faktura, annars bearbetas inte din retur.

    När retur inkommit, makuleras hela ärendet.

    Innan du skickar tillbaka något, se till att du får ett kvitto från posten på din skickade leverans.

    Packa returen väl för att undvika skador. Lägg till minst 10cm av skyddsmaterial för föremål som inte har kvar det ursprungliga packningsmaterialet. gamestoreab.azurewebsites.net är inte ansvariga för skador som uppkommer på grund av dålig eller otillräcklig paketering.

    Inga returer kan accepteras som skall hämtas ut av säljaren på ett uthämtningsställe. Kunden är ansvarig för alla returer rörande leveranser som inte skickas direkt till säljaren.

    Denna blankett från Konsumentverket kan användas vid ångerrätt
</p>
 
 <h2>8. Ansvar för fel </h2>

<p>
    gamestoreab.azurewebsites.net reserverar sig rätten att debitera kunden för eventuella kostnader som uppkommer på grund av handlingar, eller avsaknad av handling, från kunden. Detta inkluderar, men inte enbart, extra fraktkostnader, innehåll som saknas och förseningar.

    När gamestoreab.azurewebsites.net se lägger märke till några extra kostnader kommer kunden informeras om detta så snart som möjligt.

    Defekta produkter som skickas till gamestoreab.azurewebsites.net för reparation kommer inspekteras så att eventuella fel kan bekräftas. Efter produkten har anlänt till vår returavdelning tar denna process 3-5 arbetsdagar. Eventuella ytterligare reparationer kan ta upp till 30 dagar, eller längre tid beroende på produkten och hur tillverkaren hanterar dylika ärenden.

    Skador på en produkt kan maximalt ersättas med värdet av det ursprungliga föremålet. Ersättningen kan även bli lägre. Ersättningen kan göras genom en återbetalning.

    Skador som orsakas på grund av att den använts på annat sätt än avsett eller utan att konsultera bruksanvisningen, om en medföljer, eller om skadan orsakas medvetet ersätts inte. Om en produkt öppnas täcks den inte längre av garantin om inget annat anges av leverantören.

    gamestoreab.azurewebsites.net återbetalar in en beställning där felet är ett ursprungligt fel originalprodukten och detta inte täcks av tillverkarens garanti.

    Modifieringar av tredje part gör att garantin inte längre gäller.

    gamestoreab.azurewebsites.net ersätter inte några indirekta eller direkta skador påverkade av defekten.

    Defekta produkter som skickats till gamestoreab.azurewebsites.net för reparationer kommer att återanvändas om de inte tas i anspråk inom 3 månader efter reparationsförsöket. Kunden kommer meddelas om statusen på reparationen via email.

    Denna tremånadersperiod gäller även för att leveranser som skickas till Säljaren utan otillräcklig information för att kunna identifiera leveransen.

    Om kunden skickar tillbaka en produkt som inte är defekt för reparation, men produkter är antingen inte defekt eller skadan har orsakats av kunden, gamestoreab.azurewebsites.net att skicka tillbaka produkten för kunden. gamestoreab.azurewebsites.net förbehåller sig rätten att debitera kunden för onödigt eller oberättigat arbete och för det administrativa pappersarbete som tillkommer. Kostnaden startar på 399 SEK (inklusive moms) för varje påbörjad 30 minuters period av arbete som rör produkten.
</p>
 
<h2>9. Returer och klagomål</h2>

<p>
    Allting går inte alltid som planerat, men oroa dig inte för vi är förberedda även för detta. Vi håller hög nivå på vår service och försöker göra vad vi kan för att förbättra oss när vi kan. Vi tar klagomål på allvar och försöker lösa problem så snabbt som möjligt.

    Om något problem uppstår, kan du kontakta vår kundtjänst för mer information. Du har dessutom 3 års reklamationsrätt enligt konsumentköplagen. Vid godkänd reklamation, så ersätts ni för era fraktkostnader om dessa är skäliga, även om ni inte använder vår returtjänst.

    Om en produkt kommer med ett serienummer, så upphör all garanti gälla om detta serienummer tas bort.

    Om köpet hävs på riktiga grunder, antingen via ångerrätt eller reklamation, så kommer en återbetalning att göras inom 30 dagar.

    För leveranser som skadas under transport måste kunden meddela detta till gamestoreab.azurewebsites.net inom skälig tid efter att leveransen har mottagits. Du har dock alltid minst två månaders reklamationstid. Skadan behöver dokumenteras. Bilder på skadan och bekräftelse på skadan från leverantören kan skickas till vår kundtjänst på info (a) gamestoreab.azurewebsites.net. Kunden behöver förse gamestoreab.azurewebsites.net med nödvändig dokumentation eller information för att identifiera vilken beställning det gäller. Kunden kan behöva bevisa att hen har gjort betalningen med ett bevis på betalningen.

    Alla reklamationer kan endast hanteras skriftligen. Reklamationer kan inte göras muntligt. Reklamationer kan skickas till almedaldigital (a) gmail.com eller som ett brev som skickas till oss till vår postadress. Reklamationer kan även göras elektroniskt om detta godkänts av gamestoreab.azurewebsites.net’s kundtjänst.

    Vår kundtjänst hanterar inte reklamationer själva utan detta görs på vår reklamationsavdelning. Reklamationer kan vid behov hanteras av ytterligare personal från gamestoreab.azurewebsites.net Om du har frågor eller klagomål, kontakta gärna i första läget vår kundtjänst mail.

    Du kan även hitta svar på vanliga frågor och problem på vår FAQ och kundtjänstsida.
</p>
 
<h2>
    9.1 Klagomålsprocedur
</h2>

<p>
    Vid eventuella klagomål kan du kontakta konsumentverket

    http://www.konsumentverket.se/Konsumentfragor--anmalan/Gor-en-anmalan/Enskild-tvist-med-en-foretagare/

    EU har även egen portal för klagomål, som man kan hitta på http: //ec.europa.eu/
</p>

<h2>10. Extra tjänster</h2>

<p>
    gamestoreab.azurewebsites.net erbjuder ibland specialerbjudanden som inte listas på hemsidan, som avgörs från fall till fall.

    Alla specialbeställningar, modifierade föremål eller specialtjänster till kunder kan inte avbeställas eller skickas tillbaka med ångerrätten. Allt specialarbete som har påbörjats kommer att debiteras om en avbeställning görs efter beställningen bekräftats, men före den levererats till kund. Allt arbete kommer stoppas så snart som möjlighet efter avbeställningen.
</p>
 
<h2>11. Erbjudanden och begränsningar </h2>

<p>
    Företagskunder kan ha ett kontrakt som skiljer helt eller delvis med innehållet i dessa villkor. Alla erbjudanden på hemsidan är endast för privatkunder och inte för företagskunder.

    Ibland kan det finnas säsongsberoende eller tillfälliga villkor som gäller utöver dessa villkor, till exempel förlängd tid för ångerrätt. Dessa ytterligare villkor gäller endast för den period som säljaren har definierat och endast för de produkter som har specificerats. När dessa ytterligare villkor upphör gäller de vanliga villkoren.

    Eventuella erbjudanden som gäller en viss kvantitet eller en specifik produkt gäller enbart under den tidsperiod som specificerats eller tills produkten har sålt slut.

    Vissa produkter kan ha vissa restriktioner, som ålder eller antal. I dessa fall måste kunden vara beredd att visa nödvändig information för att bekräfta att restriktionerna är uppfyllda antingen till gamestoreab.azurewebsites.net eller till tredje part, till exempel en leverantör.
</p>
 
<h2>12. Tillämpliglagar och jurisdiktion vid tvister</h2>

    <p style="margin-bottom: 0;">
    Alla tvister kommer primärt att lösas med ett kontrakt med säljaren efter förhandling med säljarens kundtjänst. Vid tvister kommer säljaren att tillämpa svenska lag och rekommendationer från konsumentombudsverket, eller andra Europeiska länders lagar om de är tillämpliga

    Kunden har rätt att bestrida punkter i dessa villkor. Alla tvister rörande dessa villkor eller hur de tolkas och tillämpas kommer lösas i enlighet med svensk lag.

    Vid eventuella tvister kan du få hjälp av Allmänna reklamationsnämnden (http://arn.se/) eller EU-kommissions onlineplattform som du hittar här: http://ec.europa.eu/odr. 


    Senast uppdaterad April 24, 2023
</p>

</div>

@code {

}
