@page "/user"

<div class="lineargradient">


<h1>Användningsvillkor</h1>

<p>Genom att acceptera dessa villkor och bestämmelser godkänner du att vara bunden av följande användningsvillkor för GameStore AB, inklusive alla ytterligare villkor och bestämmelser samt policys som hänvisas till här eller är tillgängliga via hyperlänk.</p>

<h4>Definitioner</h4>

<h5>1.1</h5> <p>
    I dessa villkor och bestämmelser ska följande termer ha följande betydelser:

    "GameStore AB" avser den onlinebutik och fysiska platsen för GameStore AB, som ägs och drivs av GameStore AB.

    "Produkter" avser de fysiska och digitala varor som säljs på GameStore AB, inklusive PC-spel och spelutrustning.

    "Kund" avser varje person som gör ett köp från GameStore AB.
</p>

<h4>Godkännande av villkor och bestämmelser</h4>

<h5>2.1</h5> <p>Genom att använda GameStore AB och genomföra ett köp erkänner du att du har läst, förstått och godkänner att vara bunden av dessa villkor och bestämmelser.</p>

<h4>Beskrivning av produkter och tjänster</h4>

<h5>3.1</h5> <p>GameStore AB erbjuder ett utbud av fysiska och digitala produkter, inklusive men inte begränsat till PC-spel, spelutrustning och LAN-evenemangstjänster.</p>

<h5>3.2</h5> <p>GameStore AB förbehåller sig rätten att ändra eller avbryta en produkt eller tjänst när som helst utan föregående meddelande.</p>

<h5>3.3</h5> <p>Alla produktbeskrivningar, bilder och specifikationer tillhandahålls endast för information och kan ändras utan föregående meddelande.</p>

<h4>Betalning och leverans</h4>

<h5>4.1</h5> <p>Alla priser som visas på GameStore AB är i svenska kronor (SEK) och inkluderar alla tillämpliga skatter och avgifter.</p>

<h5>4.2</h5> <p>GameStore AB accepterar betalning via Stripe, och betalning ska erläggas vid tidpunkten för köpet.</p>

<h5>4.3</h5> <p>Leverans av fysiska produkter kommer att ske till den adress som lämnats av kunden vid tidpunkten för köpet, och leveranstiderna kan variera beroende på produkten och det valda fraktsättet.</p>

<h5>4.4</h5> <p>Digitala produkter kommer att levereras till den e-postadress som lämnats av kunden vid tidpunkten för köpet.</p>

<h4>Avbeställning och returner</h4>

<h5>5.1</h5> <p>Kunden har rätt att avbeställa sin beställning inom 14 dagar efter att produkterna har mottagits, i enlighet med svensk lag.</p>

<h5>5.2</h5> <p>Kunden måste meddela GameStore AB om sin avsikt att avbeställa via e-post eller genom att använda den online-avbokningsformulär som tillhandahålls på webbplatsen.</p>

<h5>5.3</h5> <p>Kunden är ansvarig för att returnera produkterna till GameStore AB i deras originalskick och förpackning, och GameStore AB kommer att återbetala köpeskillingen och eventuella tillämpliga skatter och avgifter inom 14 dagar efter att de returnerade produkterna har mottagits.</p>

<h4>Integritetspolicy</h4>

<h5>6.1</h5> <p>GameStore AB respekterar din integritet och är engagerade i att skydda dina personuppgifter i enlighet med svenska dataskyddslagar.</p>

<h5>6.2</h5> <p>GameStore AB samlar in och behandlar personuppgifter för att kunna uppfylla din beställning och ge dig uppdateringar om nya produkter och tjänster, och kommer inte att dela dina personuppgifter med tredje part om inte lagkrav eller ditt samtycke kräver det.</p>

<h5>6.3</h5> <p>För mer information om hur GameStore AB samlar in, använder och skyddar dina personuppgifter, se gärna Integritetspolicyn som finns tillgänglig på webbplatsen.</p>

<h4>Immaterialrätt</h4>

<h5>7.1</h5> <p>GameStore AB behåller alla rättigheter, titel och intresse i och till alla immateriella rättigheter, inklusive men inte begränsat till varumärken, upphovsrätter och patent, i produkterna och tjänsterna som tillhandahålls genom GameStore AB.</p>

<h5>7.2</h5> <p>Kunden får inte reproducera, modifiera, distribuera eller på annat sätt använda något innehåll från GameStore AB utan föregående skriftligt samtycke från GameStore AB.</p>

<h4>Begränsning av ansvar</h4>

<h5>8.1</h5> <p>GameStore AB ska inte vara ansvariga för direkta, indirekta, tillfälliga, särskilda eller följdskador som uppstår på något sätt i samband med användningen av GameStore AB eller köp eller användning av några produkter eller tjänster från GameStore AB, inklusive men inte begränsat till skador för förlust av vinst.</p>

<h5>8.2</h5> <p>Under inga omständigheter ska GameStore AB vara ansvariga för skador som överstiger köpeskillingen för de produkter eller tjänster som köpts av kunden.</p>

<h5>8.3</h5> <p>GameStore AB ska inte vara ansvariga för någon försening eller misslyckande att fullgöra någon skyldighet enligt dessa villkor och bestämmelser om förseningen eller misslyckandet beror på omständigheter utanför dess kontroll, inklusive men inte begränsat till naturkatastrofer, krig och terrorism.</p>

<h4>Lagstiftning och jurisdiktion</h4>

<h5>9.1</h5> <p>Dessa villkor ska styras av och tolkas i enlighet med svensk lag.</p>

<h5>9.2</h5> <p>Eventuella tvister som uppstår i samband med dessa villkor ska underkastas exklusiv jurisdiktion för domstolarna i Sverige.</p>

<h4>Ändringar av villkor</h4>

<h5>10.1</h5> <p>GameStore AB förbehåller sig rätten att ändra dessa villkor när som helst utan föregående meddelande.</p>

<h5>10.2</h5> <p>Kunderna uppmanas att regelbundet granska dessa villkor för att säkerställa att de är medvetna om eventuella förändringar.</p>

    <h6 style="margin-bottom: 0;">
    Genom att acceptera dessa villkor erkänner du att du har läst och förstått dem och samtycker till att vara bunden av dem.
</h6>

</div>
@code {

}
