@page "/userpolicy"

<div class="lineargradient">


<h1>Hur vi hanterar personppgifter</h1>

<h4>GENERELLT</h4>

<p>
    Denna policy som rör vår hantering av dina personuppgifter (”Dataskyddspolicy”) beskriver hur Almedal Gamestore AB (”Game store , ”vi”, ”vår”) samlar och hanterar denna information.

    Denna dataskyddspolicy gäller information som du ger oss, och information som vi samlar in på vår hemsida https://gamestoreab.azurewebsites.net/ (”website”).

    Game store är personuppgiftsansvarig för din personliga information. All kontakt med Game store måste ske på det sätt som anges i paragraf 8.
</p>

<h4>INSAMLING AV DIN PERSONLIGA INFORMATION AV SPELBUTIKEN/COOLSHOP</h4>

<p>
    Vilken personliga information samlar vi in och till vilket syfte?

    När du besöker vår hemsida, samlar vi automatiskt in information om dig, till exempel vilken webläsare du använder, vilka sökningar du gör, din IP-adress och information om din dator med syft att optimera din upplevelse på vår hemsida och utföra riktad marknadsföring.

    När du köper en produkt på vår hemsida, samlar vi information om dig, till exempel namn, adress, e-post, telefonnummer, information om vilka produkter du köper eller om du har skickat tillbaka några produkter, allt med syfte att kunna leverera produkten till dig och uppfylla våra bokföringsmässiga åtaganden.

    När du skapar en profil eller gör ett köp, har du möjligheten att ge ditt medgivande till Game store att skicka dig marknadsföring via e-post. Du kan när som helst dra tillbaka detta medgivande genom att antingen logga in på ditt konto eller klicka på länken för detta längst ner i utskicket du får.

    Vad är syftet med att samla denna information?

    Insamlingen av denna information, som nämns i paragraf 2.1.1, är nödvändig för oss för att kunna förbättra funktionerna och strukturen på vår hemsida, och ge dig relevanta erbjudanden.

    Insamlingen av information, som nämns i paragraf 2.1.2, är nödvändig för att vi skall kunna fullfölja våra åtaganden gentemot dig som kund.
</p>

<h4>ANVÄNDNING AV PERSONUPPGIFTSBITRÄDEN</h4>

<p>
    Vi använder externa företag för att utföra tekniska ingrepp på vår hemsida. Till exempel hjälper de oss med riktad marknadsföring, inklusive förbättring av hemsidan, så väl som dina omdömen om våra produkter. Dessa företag är personuppgiftsbiträden och är utsatta för våra instruktioner och hanterar information som vi är ansvariga för. Personuppgiftsbiträden är förbjudna att använda information till annat än vad som anges i våra överenskommelser med dem och de behandlar denna information konfidentiellt.

    En av dessa personuppgiftsbiträden, Almedal digital AB), har sitt säte i Göteborg.
</p>



<h4>DINA RÄTTIGHETER</h4>

<p>För att kunna skapa öppenhet om hanteringen av din personliga information, måste vi som personuppgiftsansvariga informera dig om dina rättigheter.</p>

<h4>Rätt till insyn</h4>

<p>
    Du har rätt att, när som helst, skicka in en skriftlig begäran till oss att ange vilken information som vi har lagrat om dig, vilket syfte denna information har, till vilka kategorier och mottagare av denna information kan vara, så väl som hur denna information samlades in.

    Du kan när som helst se den personliga information som vi har lagrat om dig genom att logga in på Spelbutiken/Coolshop, navigera till din profil och klicka på Personlig Information. Om du inte har ett konto på Game store kan du skicka en skriftlig information till almedaldigi@gmail.com och bifoga dokumentation som styrker att du är ägare av denna information.
</p>

<h4>Rätt till rättelse</h4>

<p>
    Du har rätt att få felaktig information ändrad av oss. Om du upptäcker något fel i den information som vi har samlat om dig, uppmanar vi dig att kontakta oss för att få denna information rättad.

    Du har möjlighet att justera den information som vi har samlat in i samband med att du blev medlem i vår kundklubb genom att logga in på ditt konto.
</p>

<h4>Rätt att bli bortglömd</h4>

<p>I vissa situationer har du rätt att få all eller viss information raderad av oss, om du till exempel, drar tillbaka ditt samtycke av din registrering i vår kundklubb. Om information fortfarande krävs för oss att till exempel kunna uppfylla våra bokföringsåtaganden, är vi inte skyldiga att radera din personliga information.</p>

<h4>Rätt till restriktion av bearbetning</h4>

<p>Du har rätt till att i vissa situationer begränsa hantering av din personliga information så den bara lagras och inte bearbetas, om du till exempel hävdar att information vi bearbetar inte är korrekt.</p>

<h4>Rätt till portabilitet</h4>

<p>
    Du har rätt till att få den personliga information, som du gett till oss, i ett strukturerat, allmänt använt format och maskinläsbart format och har rätt att överföra denna information till ett annat personuppgiftsbiträde när vi samlar in information i samband med att: 
    - Du gör ett köp genom oss, se paragraf 2.1.2
</p>

<h4>Rätt till invändning</h4>

<p>
    Du har rätt till att när som helst invända, av orsaker som rör din specifika situation, mot hur vi samlar in information för att förbättra funktionalitet och strukturen av vår hemsida. Se paragraf 2.1.1

    Om du invänder mot vår hantering och bearbetning, är vi inte längre tillåtna att behandla din personliga information, såvida inte ett giltligt lagligt skäl anges av oss.
</p>

<h4>Rätt till klagomål</h4>

<p>Du har rätt till att, när som helst, skicka in ett klagomål till Datainspektionen, gällande vår behandling av din personliga information.</p>

<h4>RADERING AV PERSONLIG INFORMATION</h4>

<p>
    Om du inte använder vår hemsida under en period på 1 år, kommer vi automatiskt att radera information som vi har samlat om dig. För att dock kunna följa vissa lagar, inklusive bokföringlagar (5 år från början av bokföringsåret) och konsumentlagar (3 års reklamationsrätt), kan vi spara personlig information för längre perioder.

    All information som du gett oss i samband med du gett oss ditt samtycke för nyhetsbrev, marknadsföringsepost, SMS och brev kommer raderas när du drar tillbaka ditt samtycke, såvida inte fortsatt behandling kan motiveras, se paragraf 2.
</p>

<h4>SÄKERHET</h4>

<p>
    Vi har genomgått passande tekniska och organisatoriska säkerhetsåtgärder för att säkerställa att personlig information inte oavsiktligt eller olagligt förstörs, förloras, ändras eller försämras och att inte din information hamnar i obehörigas händer eller missbrukas på något sätt.

    Bara anställda som har ett motiverat skäl för att ha tillgång till din personliga information för att kunna utföra sina arbetsuppgifter har tillgång till denna.
</p>

<h4>KONTAKTINFORMATION</h4>

<p>
    Game store är personuppgiftsansvariga för all personlig information som samlas in genom vår hemsida.

    Om du har några frågor eller kommentarer som rör denna dataskyddspolicy kan du kontakta oss här: <br>

    Almedal Game store AB  <br>
    Box 1063  <br>
    423 51 Göteborg, Sverige <br>

    Tlf. nr.: +46 7 666 777  <br>
    E-mail: almedaldigi@gmail.com
</p>



<h4>ÄNDRINGAR I VÅR DATASKYDDSPOLICY</h4>

<p>
    Vi kan när som helst göra motiverade ändringar i denna dataskyddspolicy. Om ändringar sker i vår dataskyddspolicy kommer du bli informerad om detta nästa gång du besöker vår hemsida.

    Om du inte ger ditt samtycke till ändringar i vår dataskyddspolicy kan du dra tillbaka ditt samtycke till den ändrade dataskyddspolicyn. I sådant fall drar du tillbaka dina rättigheter till att använda hemsidan och din personliga information kommer raderas.
</p>

    <p style="margin-bottom: 0;">
    Version 2.1
    Senast uppdaterad April 25 2023
</p>

</div>
@code {

}
