@page "/game"

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">


<PageTitle>Game</PageTitle>

<div class="col-12 100vw">
    
    <div class="col-12 m-0 p-0 position-relative" style="display: block; height: 120%; top: 0 !important;">

        <img class="img-fluid p-0" style="position: relative; z-index: -1;" src="Images/bgcyberpunkgirl.png"/>

        <div class="col-12 img-fluid" style="display: inline-block; position: absolute; top: 30%; left: 0%;">

            <div class=" row col-12 m-0 " style="justify-content: center; ">

                <div class="col-3">
                    <img class="img-fluid m-auto d-block" style="max-height: 300px;" src="Images/godofwar.png"/>
                </div>

                <div class="col-3">
                    <img class="img-fluid mx-auto d-block" style="max-height: 300px;" src="Images/reddeadredemption2.png" />
                </div>

                <div class="col-3">
                    <img class="img-fluid mx-auto d-block" style="max-height: 300px;" src="Images/residentevil4.png" />
                </div>

            </div>
        </div>
    </div>

    
    <div>
        <div class="col-12 lineargradient" style="height: 300vh;">
            <h2 class="py-5 text-center" style="color: white; font-family: 'Poppins', sans-serif; letter-spacing: 25px;">SPEL</h2>
        </div>
    </div>
</div>
