.lineargradient[b-l515dw81ia] {
    background-image: linear-gradient(180deg, #10162d 0%, #1a4257 88.54%);
}


p[b-l515dw81ia] {
    color: white;
}

h1[b-l515dw81ia] {
    color: white
}

h2[b-l515dw81ia] {
    color: white
}

h3[b-l515dw81ia] {
    color: White
}

h3[b-l515dw81ia] {
    color: white
}

h4[b-l515dw81ia] {
    color: white
}

h5[b-l515dw81ia] {
    color: white
}

h6[b-l515dw81ia] {
    color: white
}