.lineargradient[b-cv0vvqi7zq] {
    background-image: linear-gradient(180deg, #10162d 0%, #1a4257 88.54%);
}


p[b-cv0vvqi7zq] {
    color: white;
}

h1[b-cv0vvqi7zq] {
    color: white
}

h2[b-cv0vvqi7zq] {
    color: white
}

h3[b-cv0vvqi7zq] {
    color: White  
}

h3[b-cv0vvqi7zq] {
    color: white   
}

h4[b-cv0vvqi7zq] {
    color: white
}

h5[b-cv0vvqi7zq] {
    color: white
}

h6[b-cv0vvqi7zq] {
    color: white
}