.lineargradient[b-c9qoty10tj] {
    background-image: linear-gradient(180deg, #10162d 0%, #1a4257 88.54%);
}


p[b-c9qoty10tj] {
    color: white;
}

h1[b-c9qoty10tj] {
    color: white
}

h2[b-c9qoty10tj] {
    color: white
}

h3[b-c9qoty10tj] {
    color: White
}

h3[b-c9qoty10tj] {
    color: white
}

h4[b-c9qoty10tj] {
    color: white
}

h5[b-c9qoty10tj] {
    color: white
}

h6[b-c9qoty10tj] {
    color: white
}