.lineargradient[b-et61w353c6] {
    background-image: linear-gradient(180deg, #10162d 0%, #1a4257 88.54%);
}


p[b-et61w353c6] {
    color: white;
}

h1[b-et61w353c6] {
    color: white
}

h2[b-et61w353c6] {
    color: white
}

h3[b-et61w353c6] {
    color: White
}

h3[b-et61w353c6] {
    color: white
}

h4[b-et61w353c6] {
    color: white
}

h5[b-et61w353c6] {
    color: white
}
h6[b-et61w353c6] {
    color: white
}